



.container1{
    background-color: aqua;
    width: 560px;
    height: 300px;
    padding: 20px;
    margin: 20px;
    position: relative;
}


.box1{
    background-color: orange;
    width: 160px;
    height: 160px;
    position: absolute;
    bottom: 0px;
    right: 0px;

}


.container2{
    background-color: plum;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0px;
    right: 0px;
}

.box{
    width: 40px;
    height: 40px;
    background-color: green;
    
}

.container3{
    width: 100vw;
    height: 120px;
    background-color: yellow;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-top: 50px;

}